{% load admin_static %}<!DOCTYPE html>
<html>
  <body>
    {% block includes %}
    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" ></script> 
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
   
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "elfinder/css/common.css" %}">
    <link rel="stylesheet" href="{% static "elfinder/css/common.css" %}"      type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{% static "elfinder/css/dialog.css" %}"      type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{% static "elfinder/css/toolbar.css" %}"     type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{% static "elfinder/css/navbar.css" %}"      type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{% static "elfinder/css/statusbar.css" %}"   type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{% static "elfinder/css/contextmenu.css" %}" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{% static "elfinder/css/cwd.css" %}"         type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{% static "elfinder/css/quicklook.css" %}"   type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{% static "elfinder/css/commands.css" %}"    type="text/css" media="screen" charset="utf-8">

	<link rel="stylesheet" href="{% static "elfinder/css/theme.css" %}"       type="text/css" media="screen" charset="utf-8">

	<!-- elfinder core -->
	<script src="{% static "elfinder/js/elFinder.js" %}"           type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/elFinder.version.js" %}"   type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/jquery.elfinder.js" %}"    type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/elFinder.resources.js" %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/elFinder.options.js" %}"   type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/elFinder.history.js" %}"   type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/elFinder.command.js" %}"   type="text/javascript" charset="utf-8"></script>

	<!-- elfinder ui -->
	<script src="{% static "elfinder/js/ui/overlay.js" %}"       type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/ui/workzone.js" %}"      type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/ui/navbar.js" %}"        type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/ui/dialog.js" %}"       type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/ui/tree.js" %}"        type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/ui/cwd.js" %}"           type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/ui/toolbar.js" %}"       type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/ui/button.js" %}"        type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/ui/uploadButton.js" %}"  type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/ui/viewbutton.js" %}"    type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/ui/searchbutton.js" %}"  type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/ui/sortbutton.js" %}"    type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/ui/panel.js" %}"         type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/ui/contextmenu.js" %}"   type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/ui/path.js" %}"          type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/ui/stat.js" %}"          type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/ui/places.js" %}"        type="text/javascript" charset="utf-8"></script>

	<!-- elfinder commands -->
	<script src="{% static "elfinder/js/commands/back.js" %}"      type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/forward.js" %}"   type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/reload.js" %}"    type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/up.js" %}"        type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/home.js" %}"      type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/copy.js" %}"      type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/cut.js" %}"       type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/paste.js" %}"     type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/open.js" %}"      type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/rm.js" %}"       type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/info.js" %}"      type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/duplicate.js" %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/rename.js" %}"    type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/help.js" %}"      type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/getfile.js" %}"   type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/mkdir.js" %}"     type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/mkfile.js" %}"    type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/upload.js" %}"    type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/download.js" %}"  type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/edit.js" %}"      type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/quicklook.js" %}" type="text/javascript" charset="utf-8"></script>
	<script src="js/commands/quicklook.plugins.js" %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/extract.js" %}"   type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/archive.js" %}"   type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/search.js" %}"    type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/view.js" %}"      type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/resize.js" %}"    type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/commands/sort.js" %}"      type="text/javascript" charset="utf-8"></script>	
	<script src="{% static "elfinder/js/commands/netmount.js" %}"      type="text/javascript" charset="utf-8"></script>	

	<!-- elfinder languages -->
	<script src="{% static "elfinder/js/i18n/elfinder.ar.js" %}"    type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.bg.js" %}"    type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.ca.js" %}"    type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.cs.js" %}"   type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.de.js" %}"    type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.en.js" %}"    type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.es.js" %}"    type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.fr.js" %}"    type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.hu.js" %}"    type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.jp.js" %}"    type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.nl.js" %}"    type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.pl.js" %}"    type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.pt_BR.js" %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.ru.js" %}"    type="text/javascript" charset="utf-8"></script>
	<script src="{% static "elfinder/js/i18n/elfinder.zh_CN.js" %}" type="text/javascript" charset="utf-8"></script>

	<!-- elfinder dialog -->
	<script src="{% static "elfinder/js/jquery.dialogelfinder.js" %}"     type="text/javascript" charset="utf-8"></script>

	<!-- elfinder 1.x connector API support -->
	<script src="{% static "elfinder/js/proxy/elFinderSupportVer1.js" %}" type="text/javascript" charset="utf-8"></script>

	<!-- elfinder custom extenstions -->
	<!-- <script src="{% static "elfinder/extensions/jplayer/elfinder.quicklook.jplayer.js" type="text/javascript" charset="utf-8"></script> -->

    {% endblock includes %}

    {% block elfinder_init %}
    <script type="text/javascript" charset="utf-8">
        $().ready(function() {
        var elf = $('#elfinder').elfinder({
            url : '{% url elfinder_connector coll_id %}',
            places : 'h',
            rememberLastDir : false,
            placesFirst : false,
            requestType: 'post',
            customData : { csrfmiddlewaretoken : '{{ csrf_token }}',  },
            uiOptions : { toolbar : [ 
                            ['back', 'forward'],
                            ['download', 'mkdir', 'mkfile', 'upload'],
                            ['copy', 'cut', 'paste'],
                            ['rm'],
                            ['rename'],
                            ['view'],
                         ]
                        },
            contextmenu : { navbar : ['open', '|', 'copy', 'cut', 'paste', '|',
                                      'rm'],
                            cwd : ['reload', 'back', '|',
                                   'mkdir', 'mkfile', 'paste', '|',
                                   'upload'],
                            files : ['edit', 'open', '|',
                                     'copy', 'cut', 'paste', '|',
                                     'rm', 'rename'],
                          }
        }).elfinder('instance');            
        });
    </script>
    {% endblock elfinder_init %}

    {% block elfinder_div %}
    <div id="elfinder"></div>
    {% endblock elfinder_div %}
  </body>
</html>
